<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconName</key>
	<string>AppIcon</string>
	<key>CFBundleDisplayName</key>
	<string>MonoCode 中文版</string>
	<key>NSDesktopFolderUsageDescription</key>
	<string>MonoCode 需要访问您选择的项目文件夹（包括桌面目录）。</string>
	<key>NSDocumentsFolderUsageDescription</key>
	<string>MonoCode 需要访问您选择的项目文件夹（包括文稿目录）。</string>
	<key>NSDownloadsFolderUsageDescription</key>
	<string>MonoCode 需要访问您选择的项目文件夹（包括下载目录）。</string>
</dict>
</plist>
